#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Screen{
  background-color: #080231;
  width:375px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.HouseImage{
  height:auto;
  margin-top: 20px;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
}

/* Overall body styling for consistency and alignment */
body {
  font-family: 'Arial', sans-serif; /* Ensures a clean, readable font is used */
  background-color: #282c34; /* Dark background for a modern look */
  color: white; /* Ensures text is clearly visible */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

/* Styling for the main container holding all data */


/* Common styling for all individual data blocks */
.data-container {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  /*border-bottom: 1px solid #555; /* Adds a subtle separator */
  /* padding: 8px 0; */
}

.row1 {
  display: flex;
  justify-content: center;
}

.row2 {
  display: flex;
  justify-content: center;
}

.AskingValue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PredictedValue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.State {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
}

.City {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
}

.category {
  font-size: 25px;
  color: #ffa500;
  text-align: center;
}

.value {
  font-weight: bold; /* Makes values stand out */
  display: block; /* Ensures values appear on a new line */
  color: white; /* Yellow for numbers to pop against the darker backgrounds */
  font-size: 20px;
  text-align: center;

}

.row4 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 25px;
}

.SQFT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 33%;
}

.YearBuilt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 33%;
}

.Bedrooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 33%;
}

h2, h3, h4, h5 {
  margin: 1px;
  /* padding: 0; */
}

h3, h4, h5 {
  /* font-size: 16px; */
  font-weight: normal;
}

.menu-bar {
  display: flex;
  height: 50px;
  background-color: #1f2937; /* Dark gray background */
}

.toolbar-btn {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #4b5563; /* Lighter gray divider line */
  border-radius: 0;
}

.menu-toolbar {
  height: 100%; /* Fixed height for the toolbar */
  width: 100%;
  display: flex;
  justify-content: space-around; /* Spread icons evenly */
}

.menu-toolbar button:first-child {
  border-left: none; /* Remove first border */
  border-radius: 0 0 0 20px;
}

.menu-toolbar button:last-child {
  border-radius: 0 0 20px 0; /* Rounded on bottom right */
}

/* .State {
  display: flex;
  justify-content: flex-start;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */