/* src/App.css */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.phone-screen {
  width: 375px; /* Width of a typical phone screen */
  height: 667px; /* Height of a typical phone screen */
  border-radius: 32px; /* Rounded corners for a phone-like look */
  background: #1d4c7b; /* Light background color for the phone */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add some shadow to lift the phone */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 50px auto; /* Center the phone on the page */
  position: relative;
}

.swiping-card-container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden;
  padding: 20px; */
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  width: 300px;
  height: 400px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  will-change: transform, opacity;
}

.card-image {
  width: 100%;
  height: 200px; /* Adjust based on your Figma design */
  object-fit: cover;
}

.card-info {
  padding: 10px;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.detail-label {
  font-weight: bold;
  color: #555; /* Default label color */
}

.detail-value {
  font-weight: normal;
  color: #007bff; /* Default value color */
}

.menu-toolbar {
  height: 60px; /* Fixed height for the toolbar */
  background: #e67373; /* White toolbar background */
  border-top: 1px solid #846767; /* Add a border to separate from the swiping area */
  display: flex;
  justify-content: space-around; /* Spread icons evenly */
  align-items: center;
  padding: 0 10px; /* Add horizontal padding */
}

.toolbar-btn {
  flex: 1; /* Each button takes equal space */
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
}

.toolbar-btn svg {
  width: 50%;  /* Adjust to make the icon fill the button */
  height: auto;
  color: white; /* Adjust icon color */
}

.toolbar-btn:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Add hover effect */
}